{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimun-scale=1.0,maximum-scale=2.0">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Jin,showswin459@mail.com">
    <title>Kitty Fit Life</title>

    <!--網路字型-->
    <link href="https: //fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800 & display= swap " rel="stylesheet" 家庭= Nanum+Gothic:wght@400;700;800 &>
     
    <!--網站小圖示-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
    <!--加入手機主畫面捷徑圖示-->
    <link rel="apple-touch icon" href="../images/beach.png">

    <link href="https://fonts.googleapis.com/ion?family=Material+Icons" rel="stylesheet">
 
    <!--歸零CSS-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!--變數設定CSS-->
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <!--版面設定CSS-->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <style>
        body {
            background-image: url('{% static "img/background.jpg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    
    <div id="header">
        <div id="logo">
            <img src="{% static 'img/logo.jpg' %}" width="100" />
            <h1 title="Go back to homepage"><span>Fashion HIHI</span><a href="{% url 'about' %}"></a></h1>
        </div>
        <div id="nav">
          
            <!--主選單-->
            <nav id="main-nav">
                <ul>
                    <li><a href="{% url 'about' %}">主頁</a></li>
                    <li><a href="{% url 'product_list' %}">產品</a></li>
                    <li><a href="{% url 'register' %}">註冊</a></li>
                    <li><a href="{% url 'login' %}">登入</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--橫幅圖片-->
    <div class="hero-image" style="background-image: url('{% static 'img/Gym.png' %}')";>
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15" style="color: #fff;">Kitty Fit Life</h1>
            <p class="margin_bottom-20"style="font-size: 20px; " >強調健康生活，保護環境，運用科技，提升生活品質</p>
            <button>參觀更多</button>
        </div>
    </div>

    <!--滿版文字區塊-->
    <div class="full_layout " style="background-color: 	#FFFFFF;" >
        <div id="maintxt">
            <h2 class="color_pink">關於我們</h2>
            <p>運動、健康、美學、科技，這些都是我們的追求。我們希望透過科技的力量，改變人類的生活方式，讓每個人都能享受健康的生活。</p>
        </div>
    </div>
    <!--LOGO區塊-->
    <div id="mainpic" >
        <div class="item1"><img src="{% static 'img/logoGY.png' %}" alt="" class="pic_transform"></div>
        <div class="item2"><img src="{% static 'img/logoGY2.png' %}" alt="" class="pic_transform"></div>
        <div class="item3"><img src="{% static 'img/logoGY3.png' %}" alt="" class="pic_transform"></div>
        <div class="item4"><img src="{% static 'img/logoGY4.png' %}" alt="" class="pic_transform"></div>
        <div class="item5"><img src="{% static 'img/logoGfY.png' %}" alt="" class="pic_transform"></div>
    </div>
    <!--表單+地圖區塊-->
    <div class="full_layout bg_piggy padding_v3" style="background-color: #ffffff;">
        <div id="main-content">
            <h2 class="color_pink">聯絡我們</h2>
            <div id="contact_form">
                <form method="post" action="">
                    <input type="text" name="username" id="username" placeholder="名子" style="background-color: #FFFFFF;">
                    <input type="text" name="usermail" id="email" placeholder="信箱" style="background-color: #FFFFFF;">
                    <input type="text" name="userphone" id="phone" placeholder="電話" style="background-color: #FFFFFF;">
                    <textarea name="useropinion" id="useropinion" placeholder="輸入要留的訊息" style="background-color: #FFFFFF;"></textarea>
                    {% csrf_token %}    
                    <input type="submit" value="傳送" value="submit" class="button_pink-gradient cursor_pointer" style="background-color: #FFFFFF" 
                        onclick="alert('謝謝您的留言!')">
                </form>
            </div>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28964.58504124025!2d120.91075803455564!3d24.844267693402738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346835b691d1979f%3A0x4a4ffbb9c3a27ce5!2z5Y2X5a-u6YGL5YuV5YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1717695844560!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!--頁尾區塊-->
    <div id="footer">
        <div id="copyright">
            <small>Copyrught 2020Fashion HIHI </small>
            <a href="tel:+8801886-666581">tel:+8860912345678</a>
        </div>
        <div id="sns">
            <a href="https://www.facebook.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-fb.png' %}" alt=""></a>
            <a href="https://www.instergram.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-ig.png' %}" alt=""></a>
            <a href="https://www.linkedin.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-linkedin.png' %}" alt=""></a>
            <a href="https://www.skype.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-skype.png' %}" alt=""></a>
            <a href="https://www.twitter.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-twitter.png' %}" alt=""></a>
        </div>
    </div>
        <!--GOTOP區塊-->
        <div id="gotop">
            <a href="#"><span class="material-icons">arrow_circle_up</span>
                <span class="gotip">回到上方</span>
            </a>
        </div>
    </div>
</body>

</html>