<style>
  .navbar-nav .nav-item {
  white-space: nowrap; /* 避免文字换行 */
}

.navbar-nav .nav-item  {
  margin-left: 30px; /* 调整导航项之间的间隔 */
}

.nav-link {
  font-size: 30px;
}

.navbar-brand img {
  max-height: 100px; /* 调整Logo图片的高度 */
}
</style>
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'about' %}">
        {% load static %}
        <img src="{% static 'img/logo.jpg' %}" width="100" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'about' %}"
              style="font-size: 25px"
              >主頁</a
            >
          </li> 
          <li class="nav-item"></li>
          <a
          class="nav-link"
          href="{% url 'product_list' %}"
          style="font-size: 25px"
          >商品</a
        >
      </li>
    
  <li class="nav-item"></li>
  <a
  class="nav-link"
  href="{% url 'make_reservation' %}"
  style="font-size: 25px"
  >課程</a
>
</li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'view_cart' %}"
              style="font-size: 25px"
              >購物車</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'checkout' %}"
              style="font-size: 25px"
              >結帳</a
            >
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
